omegaconf
openai
opencv-python
opencv-python-headless
playwright-stealth
playwright
pydantic
rich
setuptools
tenacity
torch
torchvision
streamlit
pre-commit
# API server dependencies
aiohttp
pillow
# Other dependencies 
transformers 